{%- block ckeditor_widget -%}
    <div class="ckeditor-widget [&>.ck-editor]:max-w-full flex {% if not valid %} invalid {% endif %} " {% if attr.rows is defined %} style="min-height: {{ attr.rows * 25 + 50 }}px" {% endif %}>
        {{ block('textarea_widget') }}
    </div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            const inputElement = document.getElementById('{{ id }}');

            CKEditorCreate(inputElement, '{{ path(route ~ '.upload') }}')

        });
    </script>

{%- endblock ckeditor_widget -%}