<span class="inline-flex items-center gap-x-1.5 py-1 px-2 rounded text-xs font-medium {% block color_class %}{{ color_class|default('bg-gray-100 text-gray-800') }}{% endblock %} {% block class%}{% endblock%}">
    {% block content %}{{ text|default('') }}{% endblock %}
</span>