{% if cell.isDropdown %}
    <div class="vue-container">
        <d-dropdown>
            <template v-slot:activator>
                <svg class="size-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     viewBox="0 0 16 16">
                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                </svg>
            </template>

            <template v-slot>
                {% for action in actions %}
                    {{ action }}
                {% endfor %}
            </template>

        </d-dropdown>
    </div>
{#    <div class="hs-dropdown relative inline-flex">#}
{#        <button id="hs-dropdown-custom-icon-trigger" type="button"#}
{#                class="hs-dropdown-toggle flex justify-center items-center size-7 text-sm font-semibold rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">#}
{#            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
{#                 viewBox="0 0 16 16">#}
{#                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>#}
{#            </svg>#}
{#        </button>#}

{#        <div class="hs-dropdown-menu z-10 transition-[opacity,margin] duration hs-dropdown-open:opacity-100 min-w-60 bg-white shadow-md rounded-lg p-2 mt-2 dark:bg-gray-800 dark:border dark:border-gray-700"#}
{#             aria-labelledby="hs-dropdown-custom-icon-trigger">#}

{#            {% for action in actions %}#}
{#                {{ action }}#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{% else %}
    {% for action in actions %}
        {{ action }}
    {% endfor %}
{% endif %}