{% if value %}
    <span class="inline-flex items-center gap-x-1.5 py-1 px-2 rounded-md text-xs font-medium bg-green-100 text-green-800">
        {{ vars.trueValue }}
    </span>
{% else %}
    <span class="inline-flex items-center gap-x-1.5 py-1 px-2 rounded text-xs font-medium bg-red-100 text-red-800">
        {{ vars.falseValue }}
    </span>
{% endif %}