{% if value %}
    <div class="bg-green-100 p-1 rounded-md inline-block" title="{{ vars.trueValue }}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3.5" stroke="currentColor"
             class="size-3.5 text-green-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
        </svg>
    </div>
{% else %}
    <div class="bg-red-100 p-1 rounded-md inline-block" title="{{ vars.falseValue }}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3.5" stroke="currentColor" class="size-3.5 text-red-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </div>
{% endif %}