<div class="vue-container">
    <d-dropdown>
        <button type="button"
                class="size-9 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none">
            <img class="inline-block rounded-full ring-2 ring-white dark:ring-gray-800"
                 src="{{ asset('bundles/devstercms/images/avatar-placeholder.png') }}"
                 alt="A">
        </button>

        <template v-slot:content>
            <div class="min-w-[15rem] bg-white shadow-md rounded-lg p-2">
                <div class="py-3 px-5 -m-2 bg-gray-100 rounded-t-lg dark:bg-gray-700">
                    <p class="text-sm text-gray-500 dark:text-gray-400">Zalogowany jako</p>
                    <p class="text-sm font-medium text-gray-800 dark:text-gray-300">{{ app.user.userIdentifier|default('---') }}</p>
                </div>
                <div class="mt-2 py-2 first:pt-0 last:pb-0">
                    {% if devstercms.dashboard.my_account_route %}
                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                           href="{{ path(devstercms.dashboard.my_account_route) }}">
                    <span class="flex-shrink-0 w-4 h-4">
                        {% include '@DevsterCms/common/icon/gear.svg.twig' %}
                    </span>
                            Twoje konto
                        </a>
                    {% endif %}
                    <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                        {% if devstercms.dashboard.logout_route %}
                            href="{{ path(devstercms.dashboard.logout_route) }}"
                        {% endif %}
                    >
                    <span class="flex-shrink-0 w-4 h-4">
                        {% include '@DevsterCms/common/icon/logout.svg.twig' %}
                    </span>
                        Wyloguj
                    </a>
                </div>
            </div>
        </template>
    </d-dropdown>
</div>