{% extends '@DevsterCms/crud/common/form/view_base.html.twig' %}

{% block form_title %}
    {{ title|default('') }}
{% endblock %}

{% block form_content %}
    {% if formTemplate %}
        {% include formTemplate with { form: form, data: data } %}
    {% else %}
        {{ form_start(form) }}
        <div class="space-y-6">
            {% for formRow in form %}
                {{ form_row(formRow) }}
            {% endfor %}
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}