{% if form is defined %}
    {% form_theme form devstercms.form.theme %}
{% endif %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ devstercms.dashboard.title }}{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
              rel="stylesheet">

        {% block head_base_stylesheet %}
            {% if devstercms.encore_entry %}
                {{ encore_entry_link_tags(devstercms.encore_entry, null, devstercms.encore_entrypoint|default('_default')) }}
            {% endif %}
        {% endblock %}

        {% block head_base_javascripts %}{% endblock %}
    {% endblock %}
</head>

<body class="bg-slate-50 dark:bg-slate-900 font-inter text-stone-600">
{% block body %}{% endblock %}

{% block footer_base_javascripts %}
    {% if devstercms.encore_entry %}
        {{ encore_entry_script_tags(devstercms.encore_entry, null, devstercms.encore_entrypoint|default('_default')) }}
    {% endif %}
{% endblock %}
</body>
</html>


